*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 50px 90px;
    padding-top: 150px;
    gap: 70px;
}
#left{
    height: fit-content;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}
#left h1{
    font-size: 130px;
    font-weight: 500;
    line-height: 120px;
    font-family: "work sans";
}
#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 10px 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}
#color h5{
    font-size: 13px;
    margin-right: 5px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}
#left p{
    font-size: 20px;
    width: 65%;
    font-weight: 600;
    color: #444;
    line-height: 30px;
}
#right{
    height: 90%;
    width: 50%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
#right-bottom{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
}
#right-bottom h4{
    font-size: 26px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#right-bottom h5{
    font-size: 14px;
}
#right-bottom h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10%;
}
#black-gola{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(43, 43, 43);
    color: #fff;
    border-radius: 50%;
    right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    /* transform: translate(50%,-50%); */
}
#black-gola h5{
    font-size: 20px;
    font-weight: 500;
}
#rotated{
    position: absolute;
    left: -5%;
    /* background-color: red; */
    bottom: 20%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    #main {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 40px;
    }

    #left, #right {
        width: 100%;
    }

    #left {
        padding: 0;
        gap: 30px;
    }

    #left h1 {
        font-size: 60px;
        line-height: 65px;
    }

    #left h2 {
        font-size: 24px;
    }

    #left p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    #right {
        height: auto;
    }

    #right img {
        height: auto;
        margin-top: 0;
    }

    #right-bottom h4 {
        font-size: 20px;
        padding-bottom: 50px;
    }

    #black-gola {
        position:left;
        margin: 25px ;
    }

    #rotated {
        position: static;
        rotate: 0deg;
        transform: none;
        margin-top: 15px;
        font-size: 16px;
    }
}